@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@{
    var currentUserRole = User?.FindFirst(ClaimTypes.Role)?.Value;
    var isAuthenticated = User.Identity.IsAuthenticated; // Giriş yapma durumu
    var userEmail = User?.FindFirst(ClaimTypes.Email)?.Value; // Giriş yapan kullanıcının e-posta adresi
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - web_odev_24</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/web_odev_24.styles.css" asp-append-version="true" />



    


</head>



<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">web_odev_24</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                        </li>
                        
                       
                        
                        @if (currentUserRole == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Musteri" asp-action="Index">Müşteriler</a>
                        </li>
                        }
                         @if (currentUserRole=="Admin") {   
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Calisan" asp-action="Calisanlari_goruntule">Çalışanlar</a>
                        </li>
                         }
                        @if (currentUserRole=="Admin") {   
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Calisan" asp-action="Calisan_ekle">Çalışan Ekle</a>
                            </li>
                        }

                        
                        @if (currentUserRole == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Randevu" asp-action="Randevular">Randevular</a>
                            </li>
                        }


                        @if (currentUserRole == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Islem" asp-action="Index">İşlemler</a>
                            </li>
                        }

                        @if (currentUserRole == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Islem" asp-action="Create">İşlem Ekle</a>
                            </li>
                        }


                        @if (currentUserRole == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Randevu" asp-action="HaftaninCalisani">Haftanın Çalışanı</a>
                            </li>
                        }


                        @if (currentUserRole == "Musteri")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Randevu" asp-action="Randevu_Al">Randevu Al</a>
                            </li>
                        }

                         @if (currentUserRole == "Musteri")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Randevu" asp-action="Randevum">Randevum</a>
                            </li>
                        }

                        @if (currentUserRole == "Musteri")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Foto" asp-action="Yukle">Öneri Al</a>
                            </li>
                        }


                    </ul>


                    <!-- Giriş yap butonunu sağa hizalama -->
                    <ul class="navbar-nav ml-auto">
                        @if (isAuthenticated)
                           
                            {
                                <li class="nav-item">
                                <span class="nav-link text-dark">@User.FindFirst(ClaimTypes.Email)?.Value</span> <!-- E-posta adresi gösteriliyor -->
                                </li>
                                <li class="nav-item">
                                <form action="@Url.Action("Logout", "Hesap")" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-link nav-link text-dark">Çıkış Yap</button>
                                </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="@Url.Action("Login", "Hesap")">Giriş Yap</a>
                                </li>


                                 <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Musteri" asp-action="Create">Kayıt Ol</a>
                                </li>
                            }
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
