@model web_odev_24.Models.CalisanViewModel

<div>
    <h4>Çalışan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.calisan_ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.calisan_ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.calisan_soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.calisan_soyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.calisan_tecrube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.calisan_tecrube)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.calisan_telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.calisan_telefon)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.calisan_email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.calisan_email)
        </dd>




        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.islem_ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.islem_ad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Calisan_duzenle" asp-route-id="@Model?.calisanID"></a> |
    <a asp-action="Calisanlari_goruntule">Back to List</a>
</div>
