@model web_odev_24.Models.Calisan

<h3>Çalışanı silmekte emin misiniz?</h3>
<div>
    <h4>Calisan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.calisan_ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.calisan_ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.calisan_soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.calisan_soyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.calisan_tecrube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.calisan_tecrube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.islemID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.islemID)
        </dd>
    </dl>
    
    <form asp-action="Calisan_sil">
        <input type="hidden" asp-for="calisanID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Calisanlari_goruntule">Back to List</a>
    </form>
</div>
