@model web_odev_24.Models.Randevu

@{
    ViewData["Title"] = "Randevu Al";
}

<h2>Randevu Al</h2>

<form asp-action="Randevu_Al" method="post">
    <!-- ModelState Hata Mesajlarını Göster -->
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label>Müşteri</label>
        <input type="text" class="form-control" value="@ViewBag.MusteriAd" disabled />
        <input type="hidden" asp-for="musteriID" value="@ViewBag.MusteriID" />
    </div>

    <div class="form-group">
        <label asp-for="randevu_tarihi">Randevu Tarihi</label>
        <input asp-for="randevu_tarihi" class="form-control" id="randevuTarihi" type="date" />
        <span asp-validation-for="randevu_tarihi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="randevu_saati">Randevu Saati</label>
        <select asp-for="randevu_saati" class="form-control">
            <option value="">Saati seçiniz</option>
            @for (int i = 9; i <= 17; i++)
            {
                <option value="@string.Format("{0:00}:00:00", i)">@i:00</option>
            }
        </select>
        <span asp-validation-for="randevu_saati" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Islem">İşlem</label>
        <select id="Islem" asp-for="islemID" class="form-control" asp-items="ViewBag.Islemler"></select>
        <span asp-validation-for="islemID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="calisanID" class="form-label">Çalışanlar</label>
        <select asp-for="calisanID" asp-items="ViewBag.Calisanlar" class="form-select">
            <option value="">Seçiniz</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Randevu Al</button>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger mt-3">@TempData["ErrorMessage"]</div>
    }
</form>
