@model IEnumerable<web_odev_24.Models.Musteri>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.musteri_ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.musteri_soyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.musteri_telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.musteri_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.musteri_sifre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.musteri_ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.musteri_soyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.musteri_telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.musteri_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.musteri_sifre)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.musteriID" class="btn btn-outline-success">Düzenle</a>
                    <a asp-action="Details" asp-route-id="@item.musteriID" class="btn btn-outline-info">Detay</a>
                    <a asp-action="Delete" asp-route-id="@item.musteriID" class="btn btn-outline-danger">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>


